/* ALL */
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;


}

/* Font-size */
.f-48 {
    font-size: 48px;
}

.f-14 {
    font-size: 14px;
}

/* SIgn up  */
form {
    z-index: 999999999;
}

.opening {
    position: absolute;
    top: 100px;
    right: -30px;
    z-index: 9;
}

.kanan {
    right: -300px;
    bottom: 0px;
    top: 0px;
    position: fixed;
    width: 900px;
    height: 100vh;
}

.bg-kanan {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.founder {
    right: 400px;
    z-index: 999999999;
    bottom: 0px;
    right: -40%;
}

.people {
    right: 130px;
    position: relative;
    z-index: 99999999999;
    height: 400px;
    bottom: 400px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.text-kanan {
    margin-top: -500px;
}

.sign-logo {
    margin-top: 0px;
}

.sign-background {
    height: 100vh;
    position: relative;
    z-index: -9;
    margin-left: 0px;
}

.position-icon {
    margin-bottom: -37px;

}

.form-control {
    background-color: #f3f3f4;
    border-radius: 10px;
    border-color: transparent;
    height: 40px;
    z-index: 99999999;
}

.border-custom {
    border: transparent;
    border-radius: 0px;
    border-bottom: 5px solid red;

    width: 40px;
}

.form-lebih {
    height: 65px;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input .label-1 {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #f3f3f4;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.file-input .label-2 {
    display: block;
    position: relative;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background: #f3f3f4;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
}

input:hover+label,
input:focus+label {
    transform: scale(1.02);
}

/* Adding an outline to the label on focus */
input:focus+label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}

.social {
    margin-top: -100px;
}

/* Responsive */

@media only screen and (min-width: 1800px) and (max-width: 10000px) {
    .opening {
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 99999;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1799px) {
    body {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .opening {
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 99999;
    }

    .register {
        margin-top: -50px;
    }

    .registext {
        margin-top: -100px;
    }

    .sign-logo {
        margin-bottom: -300px;
    }

    .sign-background {
        position: relative;
        z-index: -9;
        margin-bottom: -100%;
        margin-left: 0px;

        height: 800px;

    }

    .people-img {
        position: absolute;
        margin-top: -438px;
        height: 480px;
        margin-left: 70px;

    }
}

@media only screen and (min-width: 1201px) and (max-width: 1399px) {
    .opening {
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 99999;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {

    .register {
        margin-top: -150px;
    }

    .registext {
        margin-top: -100px;
    }

    .welcome {
        margin-top: -30px;
    }

    .sign-logo {
        margin-bottom: -200px;
    }

    .sign-background {
        position: relative;
        z-index: -9;
        margin-bottom: -140%;
        margin-left: 0px;

    }

    .people-img {
        position: absolute;
        margin-top: -433px;
        height: 480px;
        margin-left: 70px;

    }
}

@media only screen and (min-width: 479px) and (max-width: 991px) {
    .sign-background {
        display: none;
    }

    .people-img {
        display: none;
    }

    .opening {
        display: none;
    }

    .form-control {
        background-color: #f3f3f4;
        border-radius: 10px;
        border-color: transparent;
        height: 40px;
    }

    .position-icon {

        margin-bottom: -40px;
    }

}

/* Mobile phone */
@media only screen and (max-width: 478px) {
    .sign-background {
        display: none;
    }

    .people-img {
        display: none;
    }

    .opening {
        display: none;
    }


}

.register {
    margin-top: 10px;
}

.sign-logo {
    margin-bottom: -50px;
}