@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

/* Utilities */
.object-cover {
  object-fit: cover;
}

.fz-15 {
  font-size: 15px;
}

.fz-14 {
  font-size: 14px;
}

.fz-13 {
  font-size: 13px;
}

.fz-12 {
  font-size: 12px;
}

.fz-11 {
  font-size: 11px;
}

.fz-10 {
  font-size: 10px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

section {
  padding-top: 10rem;
}

/* Navbar */

#dynamic {
  width: 100%;
}

.active {
  border-bottom: 3px solid #dd4c44;
}

.navbar {
  z-index: 9999999999;
}

#nav a {
  background-color: transparent;
}

#nav a.active {
  border-bottom: 3px solid #dd4c44;
}

nav {
  background: transparent;
}

.nav-bg {
  background: #fff;
  box-shadow: 5px 10px 18px #888888;
}

nav .logo a img {
  width: 7rem;
  margin-top: -8px;
  margin-left: -25px;
  height: auto;
  object-fit: cover;
}

nav .logo-footer a img {
  width: 7rem;
  margin-top: -8px;
  margin-left: -10px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 767px) {
  nav .logo-footer a img {
    width: 10.2rem;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul.menu-desktop li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul.menu-desktop li a:hover {
  color: #000;
}

nav ul.menu-mobile li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul.menu-mobile li a:hover {
  color: #fff;
}

nav .menu-btn i {
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1199px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 999;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
  }
}

/* Hero */
.bgLeft {
  background: url(../img/bgLeft.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left;
}

.bgRight {
  background: url(../img/bgRight.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

.scrollHero {
  margin-top: -100px;
}

.decorHero {
  width: 12rem;
  top: 45%;
}

@media(max-width: 991px) {
  .decorHero {
    top: 54%;
  }
}

@media(max-width: 768px) {
  .decorHero {
    top: 47%;
  }
}

@media(max-width: 767px) {
  .decorHero {
    top: 53%;
    right: 30%;
  }
}

@media(max-width: 575px) {
  .decorHero {
    top: 53%;
    right: 30%;
    width: 8rem;
  }
}

@media(max-width: 538px) {
  .decorHero {
    top: 57%;
    right: 36%;
  }
}

@media(max-width: 409px) {
  .decorHero {
    top: 54%;
    right: 36%;
    width: 8rem;
  }
}

@media(max-width: 372px) {
  .decorHero {
    top: 58%;
    right: 30%;
    width: 8rem;
  }
}

@media(max-width: 257px) {
  .decorHero {
    display: none;
  }
}

.bg-hero {
  background: url("../img/bg-hero.svg");
}

.decorHistory {
  z-index: -9;
  width: 10rem;
  top: 20%;
  left: 44%;
}

@media(max-width: 1199px) {
  .decorHistory {
    top: 26%;
    left: 43%;
  }
}

@media(max-width: 991px) {
  .decorHistory {
    top: 23%;
    left: 43%;
  }
}

@media(max-width: 767px) {
  .decorHistory {
    top: 36%;
    left: 39%;
  }
}

@media(max-width: 597px) {
  .decorHistory {
    left: 35%;
  }
}

@media(max-width: 497px) {
  .decorHistory {
    left: 30%;
  }
}

@media(max-width: 352px) {
  .decorHistory {
    width: 8rem;
    left: 30%;
  }
}

@media(max-width: 257px) {
  .decorHistory {
    display: none;
  }
}

.imgHero {
  margin-top: -100px;
  width: 30rem;
  height: 100vh;
}

@media (max-width: 768px) {
  .imgHero {
    margin-top: 0;
    margin-left: -20px;
  }
}

.scroll-prompt {
  z-index: 998;
  width: 70px;
  height: 70px;
}

.scroll {
  transform: rotate(-90deg);
  margin-left: -20px;
}

.scroll-prompt-arrow-container {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.scroll-prompt-arrow {
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.scroll-prompt-arrow:last-child {
  animation-direction: reverse;
  margin-top: -6px;
}

.scroll-prompt-arrow>div {
  width: 20px;
  height: 20px;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  transform: rotate(45deg) translateZ(1px);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(3px);
  }

  20% {
    transform: translateY(6px);
  }

  30% {
    transform: translateY(9px);
  }

  40% {
    transform: translateY(12px);
  }

  50% {
    transform: translateY(15px);
  }

  60% {
    transform: translateY(18px);
  }

  70% {
    transform: translateY(21px);
  }

  80% {
    transform: translateY(24px);
  }

  90% {
    transform: translateY(27px);
  }

  100% {
    transform: translateY(30px);
  }
}


/* History */
.carousel-item.carouselHistory {
  height: 120px;
}

.carousel-indicators [data-bs-target] {
  position: relative !important;
  /* width: 10px !important; */
  /* height: 2px !important; */
  top: 80px !important;
  background: rgba(225, 49, 45, 0.2) !important;
}

.carousel-indicators .active {
  background-color: #E1312D !important;
}

.imgHistoryLeft {
  bottom: 170px;
  z-index: -9;
}

.imgHistoryRight {
  bottom: 170px;
  z-index: -9;
}

@media(max-width: 1150px) {
  .imgHistoryLeft {
    bottom: 250px;
  }

  .imgHistoryRight {
    bottom: -150px;
  }
}

@media(max-width: 991px) {
  .imgHistoryLeft {
    bottom: 150px;
  }

  .imgHistoryRight {
    bottom: -190px;
  }
}

@media(max-width: 500px) {
  .imgHistoryLeft {
    width: 3rem;
    bottom: 150px;
  }

  .imgHistoryRight {
    width: 3rem;
    bottom: -140px;
  }
}

/* Organization */
@media(max-width: 768px) {
  .arrowOrganization {
    width: 5rem;
  }
}

.descOrganization {
  width: 50%;
}

@media (max-width: 768px) {
  .descOrganization {
    width: 100%;
  }

  .imgActivies {
    margin-top: -150px;
  }
}

.decorOrganization {
  width: 13rem;
  top: 17%;
  right: 42%;
}

.bg-1 {
  background: url("../img/1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.bg-2 {
  background: url("../img/2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.bg-3 {
  background: url("../img/3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.imgList {
  width: 20px;
  height: 20px;
}

.imgOrganization {
  margin-top: -50px;
  width: 26rem;
  height: 100vh;
}

.fz-list {
  font-size: 15px;
  padding-left: 0;
  list-style: none;
}

@media(max-width: 768px) {
  .fz-list {
    font-size: 12px;
    padding-left: 20px;
  }
}

/* Structure */
.accordion-flush {
  border: 2px solid #3c5190;
  box-shadow: none;
}

.accordion:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
  background-color: white;
}

.accordion-flush:focus {
  background-color: white !important;
}

.decorStructure {
  width: 13rem;
  top: 21%;
  right: 42%;
}

@media(max-width: 991px) {
  .decorStructure {
    top: 16%;
    right: 40%;
  }
}

/* Program */
.bg-blue-young {
  background-color: #f2f7f8;
}

.top-cus {
  top: -23px;
}

.start-cus {
  left: -12px;
}

.decorPrograms {
  width: 13rem;
  top: 10%;
  right: 42%;
}

@media(max-width: 1199px) {
  .decorPrograms {
    top: 6%;
    right: 38%;
  }
}

@media(max-width: 991px) {
  .decorPrograms {
    top: 6%;
    right: 38%;
  }
}

.imgProgramLeft {
  left: 0;
  top: 30%;
}

.imgProgramRight {
  right: 0;
  top: 30%;
}

@media(max-width: 768px) {
  .imgProgramLeft {
    left: 0;
    top: 20%;
    width: 5rem;
  }

  .imgProgramRight {
    right: 0;
    top: 100%;
    width: 5rem;
  }
}

@media(max-width: 407px) {
  .imgProgramLeft {
    left: 0;
    top: 30%;
    width: 3rem;
  }

  .imgProgramRight {
    right: 0;
    top: 110%;
    width: 3rem;
  }
}

/* Merchandise */
.decorMerchan {
  width: 13rem;
  top: 18%;
  right: 42%;
}

@media(max-width: 991px) {
  .decorMerchan {
    right: 40%;
  }
}

@media(max-width: 1199px) {
  .decorMerchan {
    top: 12%;
  }
}

.merchanCard {
  border: 1px solid #3C5190;
}

.imgMerchan {
  width: 100%;
}

.imgMerchanLeft {
  left: 0;
  top: 90%;
}

.imgMerchanRight {
  right: 0;
  top: 30%;
}

@media(max-width: 768px) {
  .imgMerchanLeft {
    width: 3rem;
    left: 0;
    top: 70%;
  }

  .imgMerchanRight {
    width: 3rem;
    right: 0;
    top: 30%;
  }
}

@media(max-width: 690px) {
  .imgMerchanLeft {
    width: 3rem;
    left: 0;
    top: 95%;
  }

  .imgMerchanRight {
    width: 3rem;
    right: 0;
    top: 30%;
  }
}

/* News */
.newList {
  width: 7rem;
}

.decorNews {
  width: 7rem;
  top: 14%;
  right: 46%;
}

@media(max-width: 1199px) {
  .decorNews {
    top: 10%;
    right: 46%;
  }
}

.imgNewsLeft {
  z-index: -9;
}

.imgNewsRight {
  z-index: -9;
}

/* Activies */
.fz-5rem {
  font-size: 5rem;
}

.btn-activies {
  top: 40%;
}

@media (max-width: 436px) {
  .btn-activies {
    top: 30%;
  }
}

@media (max-width: 376px) {
  .btn-activies {
    top: 10%;
  }
}

@media (max-width: 278px) {
  .btn-activies {
    top: 3%;
  }
}

/* Contact Us */
.bg-abu {
  background-color: #f9f9fb;
}

.btn-contact {
  top: 70%;
}

.decorContact {
  width: 10rem;
  top: 26%;
  right: 44%;
}

/* Pilih Merchan */
.form-control {
  background-color: #f3f3f4 !important;
  border-radius: 10px !important;
  border-color: transparent !important;
  height: 40px !important;
  z-index: 99999999 !important;
}

.bg-biru {
  background-color: #3C5190;
  height: 100%;
}

.bg-abuMerchan {
  background-color: #E5E5E5;
}

/* .rightProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1046px) {
  .rightProduct {
    display: none;
  }
} */